<h1>List of Hangover Cures</h1>

<div class="container">
    <div class="row" id='mainCure'>
        <h3>Main Cure (Community Tested)</h3>
        <ul class="list-group">
            <li class="list-group-item">
                1 teaspoon salt
            </li>
            <li class="list-group-item">
                8 teaspoons sugar
            </li>
            <li class="list-group-item">
                5 cups of water
            </li>
            <li class="list-group-item">
                Optional: 1/4 cup mashed banana
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm" id='listDrink'>
            <ul class="list-group">
                <h3>Drinks</h3>
                <li class="list-group-item">Water</li>
                <li class="list-group-item">Gatorade and Pedialyte</li>
                <li class="list-group-item">Ginger or Peppermint Tea</li>
                <li class="list-group-item">Fruit Juice (NO ORANGE JUICE!!!)</li>
                <li class="list-group-item">Pickle Juice</li>
                <li class="list-group-item">1tsp salt, 8tsp sugar, 5 cups water (can add 1/4 cup mashed banana) and drink throughout the day</li>
            </ul>
        </div>
        <div class="col-sm" id='listFood'>
            <ul class="list-group">
                <h3>Foods</h3>
                <li class="list-group-item">Eggs</li>
                <li class="list-group-item">Bananas</li>
                <li class="list-group-item">Yogurt</li>
                <li class="list-group-item">Leafy Greens (Salad)</li>
                <li class="list-group-item">Soup (Chicken Noodle or Miso)</li>
                <li class="list-group-item">Toast and Honey</li>
            </ul>
        </div>
    </div>
</div>
