<h1>List of Hangover Cures</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
        <ul class="list-group">
            <h3>Drinks</h3>
            <li class="list-group-item">Water</li>
            <li class="list-group-item">Gatorade and Pedialyte</li>
            <li class="list-group-item">Ginger or Peppermint Tea</li>
            <li class="list-group-item">Fruit Juice (NO ORANGE JUICE!!!)</li>
            <li class="list-group-item">Pickle Juice</li>
            <li class="list-group-item">Coffee (if you drink it most days)</li>
        </ul>
        </div>
        <div class="col-sm">
            <ul class="list-group">
                <h3>Foods</h3>
                <li class="list-group-item">Eggs</li>
                <li class="list-group-item">Bananas</li>
                <li class="list-group-item">Yogurt</li>
                <li class="list-group-item">Leafy Greens (Salad)</li>
                <li class="list-group-item">Soup (Chicken Noodle or Miso)</li>
                <li class="list-group-item">Toast and Honey</li>
            </ul>
        </div>
    </div>
</div>
