<button class="btn btn-sm btn-secondary" {{action 'refresh'}}>Refresh the map</button>

{{#g-map id="mainMap" lat=37.7833 lng=-122.4167 zoom=12 as |context|}}
    {{!-- This makes a marker with an infobox attached on click --}}
    {{#g-map-marker context lat=37.7933 lng=-122.4167 as |markerContext|}}
        {{g-map-infowindow markerContext lat=37.7833 lng=-122.4267 openOn="click" closeOn="click" title="Test Title" message="Test Message"}}
    {{/g-map-marker}}
    {{!-- Makes a marker without an infobox --}}
    {{g-map-marker context lat=37.7733 lng=-122.4067}}
{{/g-map}}

